<template>
  <div id="app">
    <h1>CatsApp</h1>
    <cat-nav
      :currentPage="currentPage"
      :lastPage="lastPage" 
      @fetchCats="v => fetchCats(v)"
      />
    <div class="cat-list">
      <div
        v-for="(cat, index) in sortedCats"
        :key="`cat${index}`"
        class="cat-item"
      >
        {{ cat }}
      </div>
    </div>
    <cat-nav
      :currentPage="currentPage"
      :lastPage="lastPage" 
      @fetchCats="v => fetchCats(v)"
    />
  </div>
</template>

<script>
import CatNav from './components/CatNav.vue'

export default {
  components: { CatNav },
  name: 'App',
  data() {
    return {
      catFacts: [{fact: 'Loading...'}],
      currentPage: 0,
      lastPage: 100
    }
  },
  methods: {
    async fetchCats(page) {
      const cats = await fetch(`https://catfact.ninja/facts?limit=9&page=${page}`)
        .then(res => res.json())
        .catch(res => {
          console.log('res: ', res);
          return false
        })
      if(cats) {
        this.currentPage = page
        this.catFacts = cats.data
        this.lastPage = cats.last_page
      }
      else {
        this.catFacts = [{fact: 'Error: Failed to load resource from server.'}]
      }
    }
  },
  computed: {
    sortedCats() {
      return this.catFacts.map(cat => cat.fact).sort()
    }
  },
  mounted() {
    this.fetchCats(1)
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-bottom: 50px;
  text-align: center;
}
h1 {
  font-size: 3.2em;
  font-weight: 600;
  letter-spacing: 8px;
}
.cat-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
}
.cat-item {
  margin: 25px;
  padding: 25px 50px;
  flex-basis: 100%;
  min-height: 150px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  background-color: #e7e7ff;
  font-weight: bold;
  font-size: 1.3em;
}
@media only screen and (min-width: 768px) {
  .cat-item {
    flex-basis: 20%;
  }
}
</style>
