<template>
    <div class="cat-nav">
      <div
        class="nav-btn"
        v-show="currentPage > 1"
        @click="$emit('fetchCats', currentPage - 1)">Previous</div>
        <div>
          {{ currentPage }} / {{ lastPage }}
        </div>
      <div
        class="nav-btn"
        v-show="currentPage < lastPage"
        @click="$emit('fetchCats', currentPage + 1)">Next</div>
    </div>
</template>

<script>
export default {
    props: {
        currentPage: Number,
        lastPage: Number
    }
}
</script>

<style scoped>
.cat-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.cat-nav div { 
  padding: 10px;
  margin-right: 10px;
  font-weight: 800;
}
.nav-btn {
  cursor: pointer;
  background-color: #b6f9d1;
  border-radius: 3px;
}
.nav-btn:hover {
  opacity: .5;
}
</style>